In [1]:
import pandas as pd

In [118]:
busan_2021_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/busan_2021.csv")
busan_2022_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/busan_2022.csv")
busan_2023_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/busan_2023.csv")
seoul_2021_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/seoul_2021.csv")
seoul_2022_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/seoul_2022.csv")
seoul_2023_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/seoul_2023.csv")
park_data = pd.read_csv("~/aiffel/workplace/aiffel_quest/AIFFEL_quest/park.csv")

In [104]:
apart_df = pd.concat([busan_2021_data, busan_2022_data, busan_2023_data, seoul_2021_data, seoul_2022_data, seoul_2023_data], axis = 0)

In [94]:
print(apart_df['주택유형'].value_counts())
print(apart_df['주택유형'].isna().value_counts())

아파트    177450
Name: 주택유형, dtype: int64
False    177450
Name: 주택유형, dtype: int64

In [149]:
apart_df = apart_df.reset_index()

In [102]:
apart_df.tail()

,시군구,번지,본번,부번,전용면적(㎡),거래금액(만원),동,층,건축년도,등기일자,주택유형
177445,서울특별시 종로구 무악동,82,82,0,84.9200,"106,960",110,2,2000,23.10.05,아파트
177446,서울특별시 종로구 무악동,89,89,0,84.8792,"144,000",104동,10,2019,23.10.27,아파트
177447,서울특별시 종로구 무악동,82,82,0,114.9000,"126,950",106,7,2000,23.09.08,아파트
177448,서울특별시 종로구 무악동,82,82,0,84.9200,"119,950",108,10,2000,23.11.20,아파트
177449,서울특별시 종로구 무악동,82,82,0,60.0000,"70,990",101,1,2000,23.11.20,아파트

In [106]:
apart_df = apart_df.drop(['NO', '단지명', '계약일', '계약년월', '매수자', '매도자', '도로명', '해제사유발생일', '거래유형', '중개사소재지', '주택유형'], axis = 1)

In [116]:
apart_df.head()

            시군구   본번  전용면적(㎡) 거래금액(만원)   층  건축년도
0  부산광역시 중구 영주동    2    49.59   10,500   3  1976
1  부산광역시 중구 영주동  161    84.86   20,500  15  1997
2  부산광역시 중구 영주동  252    49.59    6,500   3  1976
3  부산광역시 중구 영주동  160    84.72   19,000   6  1998
4  부산광역시 중구 영주동   92    76.86   17,000  10  1998

In [110]:
apart_df = apart_df.drop(['등기일자'], axis = 1)

In [117]:
print(apart_df['건축년도'].value_counts())

2004    7694
1996    7587
2003    6975
1999    6931
2005    6525
        ...
1968      31
1961       9
1967       7
1965       1
1966       1
Name: 건축년도, Length: 61, dtype: int64

In [113]:
apart_df = apart_df.drop(['동'], axis = 1)

In [115]:
apart_df = apart_df.drop(['번지', '부번'], axis = 1)

In [120]:
park_data.head()

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
0,부산광역시,남구,대연동,대연공원,근린공원,55227.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
1,부산광역시,남구,대연동,당곡공원,역사공원,75465.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
2,부산광역시,남구,대연동,대일어린이공원,어린이공원,422.1,NaN,NaN,NaN,NaN,NaN,1965.0,2018-08-14
3,부산광역시,남구,대연동,못골어린이공원,어린이공원,499.8,NaN,NaN,NaN,NaN,NaN,1968.0,2018-08-14
4,부산광역시,남구,용호동,솔밭어린이공원,어린이공원,1500.2,NaN,NaN,NaN,NaN,NaN,1970.0,2018-08-14

In [159]:
apart_df_test = apart_df['시군구'].str.split(" ")

In [160]:
apart_df_test.tail()

177445    [서울특별시, 종로구, 무악동]
177446    [서울특별시, 종로구, 무악동]
177447    [서울특별시, 종로구, 무악동]
177448    [서울특별시, 종로구, 무악동]
177449    [서울특별시, 종로구, 무악동]
Name: 시군구, dtype: object

In [124]:
park_test = park_data['dong']

In [125]:
park_test.head()

0    대연동
1    대연동
2    대연동
3    대연동
4    용호동
Name: dong, dtype: object

In [129]:
park_test.value_counts()

화곡동       31
명지동       25
방화동       25
양재동       21
화명동       20
          ..
범전동        1
수색동        1
무악동        1
서대신동1가     1
항동         1
Name: dong, Length: 237, dtype: int64

In [136]:
park_test_dong = park_test.value_counts()

In [137]:
park_test_dong.index.tolist()

['화곡동',
 '명지동',
 '방화동',
 '양재동',
 '화명동',
 '문정동',
 '마천동',
 '방배동',
 '역삼동',
 '반포동',
 '연산동',
 '만덕동',
 '등촌동',
 '개포동',
 '우면동',
 '사당동',
 '거여동',
 '대연동',
 '온천동',
 '서초동',
 '진관동',
 '동삼동',
 '금곡동',
 '오금동',
 '신사동',
 '일원동',
 '가양동',
 '상도동',
 '가락동',
 '장안동',
 '세곡동',
 '좌동',
 '삼성동',
 '덕천동',
 '송파동',
 '녹번동',
 '대치동',
 '방이동',
 '구로동',
 '잠원동',
 '장지동',
 '내발산동',
 '수서동',
 '구산동',
 '다대동',
 '반여동',
 '고척동',
 '명장동',
 '강일동',
 '불광동',
 '논현동',
 '도곡동',
 '신천동',
 '구포동',
 '응암동',
 '문현동',
 '홍제동',
 '천왕동',
 '사직동',
 '잠실동',
 '모라동',
 '남가좌동',
 '홍은동',
 '연희동',
 '청룡동',
 '자곡동',
 '엄궁동',
 '신내동',
 '주례동',
 '북가좌동',
 '이촌동',
 '반송동',
 '상일동',
 '미아동',
 '금사동',
 '용호동',
 '남산동',
 '역촌동',
 '삼전동',
 '괴정동',
 '감천동',
 '지사동',
 '갈현동',
 '답십리동',
 '개봉동',
 '중동',
 '암남동',
 '초읍동',
 '우동',
 '내곡동',
 '신원동',
 '송정동',
 '당감동',
 '부곡동',
 '휘경동',
 '구평동',
 '남현동',
 '공항동',
 '망미동',
 '안락동',
 '화양동',
 '풍납동',
 '구서동',
 '석촌동',
 '용두동',
 '부암동',
 '대조동',
 '신호동',
 '북아현동',
 '흑석동',
 '독산동',
 '청담동',
 '양정동',
 '압구정동',
 '개금동',
 '재송동',
 '낙민동',
 '오류동',
 '전농동',
 '우암동',
 '덕포동',
 '장전동',
 '광안동',
 '하왕십리동',
 '마장동',
 '문배동',
 '염창동',
 '신대방동',
 '길동',
 '한남동',
 '동자동',
 '본동',
 '만리동2가',
 '가야동',
 '창천동',
 '응봉동',
 '영주동',
 '신당동',
 '온수동',
 '신도림동',
 '민락동',
 '회동동',
 '가산동',
 '옥수동',
 '감만동',
 '마곡동',
 '행당동',
 '정동',
 '시흥동',
 '증산동',
 '전포동',
 '거제동',
 '한강로3가',
 '광장동',
 '남부민동',
 '궁동',
 '군자동',
 '후암동',
 '효창동',
 '당리동',
 '학장동',
 '괘법동',
 '신평동',
 '율현동',
 '이태원동',
 '서대신동3가',
 '대방동',
 '당산동4가',
 '제기동',
 '노량진동',
 '순화동',
 '창동',
 '신림동',
 '묵동',
 '면목동',
 '동작동',
 '이문동',
 '우이동',
 '청량리동',
 '명륜3가',
 '복천동',
 '홍익동',
 '성수동1가',
 '수영동',
 '사근동',
 '용당동',
 '용답동',
 '범일동',
 '번동',
 '좌천동',
 '서동',
 '수안동',
 '당산동5가',
 '영등포동8가',
 '남천동',
 '암사동',
 '문래동3가',
 '영등포동',
 '영등포동2가',
 '도림동',
 '회기동',
 '을지로5가',
 '신설동',
 '충무로5가',
 '황학동',
 '고덕동',
 '명륜1가',
 '둔촌동',
 '신문로1가',
 '칠산동',
 '신정동',
 '능동',
 '구의동',
 '명륜동',
 '중계동',
 '상계동',
 '원효로3가',
 '청파동3가',
 '신계동',
 '도원동',
 '한강로1가',
 '신창동',
 '용산동5가',
 '상도1동',
 '연지동',
 '녹산동',
 '대저1동',
 '영천동',
 '합동',
 '하단동',
 '현저동',
 '대현동',
 '범전동',
 '수색동',
 '무악동',
 '서대신동1가',
 '항동']

In [152]:
apart_df_test_dong = apart_df_test.loc[0]

In [161]:
for i range len(apart_df_test):
    apart_df_test_dong = apart_df_test.loc[i]

KeyError: '시군구'